<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
</head>
<body>
    <form action="/signup" method="post">
    Username : <input type="text" name="username">
    <br>
    Password : <input type="password" name="password">
    <br>
    firstname : <input type="text" name="firstName">
    <br>
    lastname : <input type="text" name="lastName">
    <br>
    phoneNo : <input type="text" name="phoneNo">
    <br>
    <button type="submit">submit</button>
    </form>

</body>
</html>